/*Times New Roman
*/

												/*HOME*/
body{
	background: url(../image/fond.jpg) no-repeat;
	width:100%;
	font-size:100%;
	font-family: arial; 
	background-size: cover;
	padding:0;
	margin: 0;
	background-attachment: fixed;
	border-spacing:10px;
}
/*NAV*/



.nav_bar ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 153, 77);/* rgba(153, 0, 51,0.7)*/
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
z-index: 3;
}

.nav_bar ul	li {
    float: left; 
    width: 24%;
    min-width: 70px;
    box-sizing: border-box;
}

.nav_bar  li a {
    display: block;
    color: white;
    padding: 14px 0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
     box-sizing: border-box;

}
.nav_bar li a.active{
	background-color: rgb(0, 204, 102) ;
	color: black;
} 
.nav_bar li a:hover:not(.active){
		background-color:rgba(0, 179, 89,0.9) ;
		transition: all 2s;
}



/*filter: alpha(opacity=50);*/


section.section_home{
	margin-top:45px; 
	background: rgba(38, 38, 38,0.4);
	width: 100%;
	min-width: 320px;
	box-sizing: border-box;
	padding-top: 50px;
	padding-bottom: 50px;
}


.section_home aside.aside_home{
border:1px solid #bfbfbf;
width: 50%;
border-radius: 10px;
margin: 0 auto;
background-color: rgba(204, 204, 204,0.2);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
aside.aside_home .aside_home_content{
text-align: center;
padding-top: 20px;
}

.aside_home_content h1{
color:white;
font-size: 70px;
font-family: Brush Script MT;
padding: 0;
margin: 0;
border-bottom:5px solid white;
}


.aside_home_content h3{
	color: white ;
	font-weight: bold;
}
.aside_home_content p{
	font-weight: bold;
	color: white;
	font-style: italic;
}
article.article_home{
	padding:40px 0 0 0; 
	margin: 0;
	background-color:rgba(0, 179, 89,0.2);
	width: 100%;

}
.article_home div.article_home_content{

}
.article_home_content h2{
color: white;
font-family: Bradley Hand ITC;
font-size: 50px;
text-decoration: underline;
text-align: center;
padding-bottom: 30px;
}

.article_home_content p{
background: rgba(0, 179, 89,0.9);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:5px;
margin: 0;
color: white;
display: table-cell;
border-radius: 5px;
font-family: Calisto MT;
box-sizing: border-box;
}
.article_home_content p img{
width: 100%;
height: 200px;
border-radius: 3px;
}


.article_footer{
background-color: rgb(0, 179, 89);
border-radius: 5px;
cursor: pointer;
min-width: 320px;
margin-top:20px; 
}
.article_footer div{
font-weight: bold;
font-size: 50px;
color: white;
text-align: center;
transition: transform 1s;
}
.hover_x{ 
transform: rotate(45deg);
}
.voir_plus{
display: none;
}

.hover_voir_plus{
display: block;
}

 div.article_footer:hover{
background-color:  rgb(0, 153, 77);
}

	

footer#footer_home{
	background-color: rgba(0, 204, 102,0.4);
	padding: 20px 10px;
}

#footer_home h2{
color: white;
text-decoration: underline;
font-family: Bradley Hand ITC;
font-size: 40px;
}


.footer_home_content p:first-letter{
font-weight: bold;
color: white;
font-size: 50px;
float: left;
line-height: 3px;
}
.footer_home_content p:first-line{
color: white;
font-style: italic;
font-weight: bold;
}
.footer_home_content p{
color: white;
font-style: italic;	
}

#presentation2{
	background:  rgba(38, 38, 38,0.4);
}






@media (max-width: 640px){


.section_home aside.aside_home{
	width: 100%;
}

.article_home_content p{
	margin-top:10px; 
	display: block;
	width: 100%;
	min-width: 320px;
}

#footer_home h2{
text-align: center;
}

}





